global:
  scrape_interval: {{ prometheus_scrape_interval | default('15s') }}
  evaluation_interval: {{ prometheus_scrape_interval | default('15s') }}

scrape_configs:
{% for job in prometheus_scrape_jobs %}
  - job_name: {{ job.job_name }}
    static_configs:
      - targets:
{% for target in job.targets %}
          - "{{ target }}"
{% endfor %}
{% if job.labels is defined %}
        labels:
{% for key, value in job.labels.items() %}
          {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}

{% endfor %}
