services:
  sentry:
    image: "{{ gno_image }}"
    restart: on-failure
    ports:
      - 26656:26656
      - 127.0.0.1:26657:26657
    volumes:
      - ./entrypoint.sh:/entrypoint.sh:ro
      - ./config.toml:/gnoroot/config.toml:ro
      - ./genesis.json:/gnoroot/gnoland-data/genesis.json:ro
      - ./gnoland-data:/gnoroot/gnoland-data
    entrypoint: /entrypoint.sh
    environment:
      MONIKER: "{{ moniker_sentry }}"
      SEEDS: "{{ seeds }}"
      # seed(s) gnocore + validator p2p address
      PERSISTENT_PEERS: "{{ seeds }},{{ private_peer_ids }}@{{ validator_p2p_ip }}:26656"
      PRIVATE_PEER_IDS: "{{ private_peer_ids }}"
