server {
    listen 9200;
    server_name _;

    location / {
        proxy_pass http://{{ hostvars['gno-validator']['private_ip'] }}:9100;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}