[Unit]
Description=Run gno-autoheal-check.service every 3 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=3min
Persistent=true

[Install]
WantedBy=timers.target
