services:
  sentry:
    image: "{{ gno_image }}"
    restart: on-failure
    ports:
      - 26656:26656
    volumes:
      - ./entrypoint.sh:/entrypoint.sh:ro
      - ./config.toml:/gnoroot/config.toml:ro
      - ./genesis.json:/gnoroot/gnoland-data/genesis.json:ro
      - ./gnoland-data:/gnoroot/gnoland-data
    entrypoint: /entrypoint.sh
    environment:
      MONIKER: "{{ moniker_sentry }}"
      SEEDS: "{{ seeds | default('') }}"
      PERSISTENT_PEERS: "{{ persistent_peers_sentry | default('') }}"
      PRIVATE_PEER_IDS: "{{ private_peer_ids | default(hostvars['gno-validator'].validator_node_id | default('')) }}"
