# Email Domains to allow authentication for (this authorizes any email on this domain). To authorize any email addresses use "*"
http_address="0.0.0.0:4180"
reverse_proxy = true
provider="google"
cookie_secure=true
cookie_refresh="1h"
set_xauthrequest=true
email_domains="samourai.coop"
# --- Google groups authZ ---
google_admin_email="antoine@osmose.world"
google_groups = ["{{ google_admin_email }}"]
google_service_account_json="/opt/auth-proxy/sa.json" #demander a @zooma 
# --- OAuth client ---
client_id= "{{ google_client_id }}"
client_secret="{{ google_client_secret }}"
cookie_secret= "uZ7pQ9rF3mK2sT8vW1xY4zA6bC8dE2hJ"
# --- Redirects ---
redirect_url="{{ redirect_uri}}" #add to URI in the google console with alert@samourai.coop
# --- Upstream “static 200” 
upstreams="static://202"
whitelist_domains = ["{{domain_name}}"]
#Debug
#show_debug_on_error=true
#standard_logging=true
#auth_logging=true
#request_logging=false



