server {
  listen 443 ssl http2;
  server_name {{ item.domain_name }};

  ssl_certificate     /etc/letsencrypt/live/{{ item.domain_name }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ item.domain_name }}/privkey.pem;

  # Endpoints oauth2-proxy
  location /oauth2/ {
    proxy_pass http://{{ item.oauth2_proxy_addr }};
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Auth-Request-Redirect $scheme://$host$request_uri;
  }

  location = /oauth2/auth {
    proxy_pass http://{{ item.oauth2_proxy_addr }};
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Uri $request_uri;
    proxy_set_header Content-Length "";
    proxy_pass_request_body off;
  }

  # Protège Jaeger
  location / {
    auth_request /oauth2/auth;
    error_page 401 =302 /oauth2/start?rd=$scheme://$host$request_uri;

    auth_request_set $user  $upstream_http_x_auth_request_user;
    auth_request_set $mail  $upstream_http_x_auth_request_email;
    proxy_set_header X-User  $user;
    proxy_set_header X-Email $mail;

    proxy_read_timeout 300s;
    proxy_buffering off;
    proxy_pass http://{{ item.upstream }};
  }

  
  # (optionnel) autoriser la healthcheck de oauth2-proxy
  location = /oauth2/health {
    proxy_pass http://{{ item.oauth2_proxy_addr }};
  }
}
